# Authentication:
LoginGraceTime 120
AuthorizedKeysFile	%h/.ssh/authorized_keys /ssh/keys
PermitRootLogin without-password
StrictModes yes
PasswordAuthentication no
RSAAuthentication yes
PubkeyAuthentication yes
# Security
IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
PermitTunnel=yes
# Config
Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
UsePrivilegeSeparation yes
KeyRegenerationInterval 3600
ServerKeyBits 1024
SyslogFacility AUTH
LogLevel INFO
X11Forwarding yes
PrintMotd yes
PrintLastLog yes
TCPKeepAlive yes
Subsystem sftp /usr/lib/openssh/sftp-server
Banner /etc/ssh/motd

#12/26/18
